$form_color: #f8f9fa;
$calculator_border: rgba(2, 62, 138, 0.3);
$outline_color: rgba(2, 62, 138, 0.9);
$label: rgba(0, 18, 25, 0.8);
$title: rgb(0, 18, 25);
$installments: rgba(0, 18, 25, 0.4);

.app__calculator {
  width: 90%;
  height: 90%;
  max-width: 43rem;
  max-height: 30rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 3px 1px $calculator_border;
  display: flex;
  overflow: hidden;

  .app__calculator--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
    background: $form_color;
    flex: 3;
    gap: 1.5rem;

    h1 {
      font-size: 1.2rem;
      color: $title;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      label {
        font-size: 0.8rem;
        color: $label;

        .after {
          font-size: 0.7rem;
          color: $installments;
          font-weight: 600;
        }
      }

      input {
        width: 90%;
        max-width: 15rem;
        padding: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: 0.6s;
        border-radius: 0.1rem;

        &:focus {
          box-shadow: 0 0 2px 1px $outline_color;
        }
      }
    }
  }
}
